/* navbar */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
*::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat", serif;
  color: #464646;
  background: #DDDBDB;
  line-height: 1.4;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

a[href]::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background: #464646;
  height: 1px;
  width: 0;
  max-width: 100%;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}

a[href]:hover::after {
  width: 40px;
}

.page-container {
  background: #ffffff;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.page-container::after {
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.section {
  position: relative;
  padding: 60px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section .section-heading {
  letter-spacing: 1px;
  text-align: center;
  font-size: 2.6rem;
  margin: auto;
  font-weight: 300;
}

@media (min-width: 767px) {
  .section-container {
    padding: 0 40px;
  }
}

.font-bold {
  font-weight: 700;
}

.navbar-main {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1050;
}

.navbar-main .navbar-container {
  padding: 35px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
}

@media (max-width: 767px) {
  .navbar-main .navbar-container {
    padding: 20px 15px;
  }
}

.navbar-main .navbar-menu.right {
  margin-left: auto;
}

.navbar-main .navbar-menu a {
  color: #464646;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8rem;
}

.navbar-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: -150%;
  width: 100%;
  z-index: 1100;
  background: #ffffff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.navbar-modal.open {
  top: 0;
}

.navbar-modal .navbar-modal-close {
  position: absolute;
  left: 42px;
  top: 35px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8rem;
}

@media (max-width: 767px) {
  .navbar-modal .navbar-modal-close {
    right: 15px;
    top: 20px;
  }
}

.navbar-modal .navbar-modal-body {
  padding: 50px 60px;
  max-height: 85vh;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
}

@media (max-width: 767px) {
  .navbar-modal .navbar-modal-body {
    padding: 50px 15px;
  }
}

.navbar-modal .menu-col {
  font-size: .9rem;
  opacity: 0;
  margin: 0 auto auto auto;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

@media (min-width: 768px) {
  .navbar-modal .menu-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    max-width: 200px;
  }
}

@media (max-width: 767px) {
  .navbar-modal .menu-col {
    width: 100%;
  }
}

.navbar-modal .menu-col:nth-child(2) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.navbar-modal .menu-col:nth-child(3) {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.navbar-menu-open {
  overflow: hidden;
}

.navbar-menu-open .navbar-modal {
  top: 0;
}

.navbar-menu-open .navbar-modal .menu-col,
.navbar-menu-open .navbar-modal .search-col {
  opacity: 1;
}

.navbar-menu-open .page-container {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.navbar-menu-open .page-container::after {
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Vertical and Horizontal structure starts here:  */
/* Hide scrollbar for IE and Edge */
html,
body,
main,
section {
  margin: 0;
  padding: 0;
}

.horizontal {
  width: 100vw;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

main,
section {
  overflow: hidden;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

section > div {
  display: inline-block;
  height: 100vh;
  color: #ffffff;
  background: #8b8b8b;
  background: linear-gradient(117deg, #8b8b8b 0%, #a2a2a2 7%, #aaaaaa 12%, #b3b3b3 27%, #bebebe 43%, #cbcbcb 57%, #d8d8d8 69%, #e1e1e1 76%, #ebebeb 86%, #f8f8f8 94%, white 100%);
  text-align: center;
}

.contact-section {
  height: 70vh;
  color: #ffffff;
  background-color: grey;
}

.contact-section .contact-horizontal {
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@-webkit-keyframes BounceInLeft {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    -webkit-transform: translateX(-730px);
            transform: translateX(-730px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(-26px);
            transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(-13px);
            transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(-6.5px);
            transform: translateX(-6.5px);
  }
  90% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(12px);
            transform: translateX(12px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}

@keyframes BounceInLeft {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    -webkit-transform: translateX(-730px);
            transform: translateX(-730px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(-26px);
            transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(-13px);
            transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(-6.5px);
            transform: translateX(-6.5px);
  }
  90% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(12px);
            transform: translateX(12px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}

@-webkit-keyframes BounceInRight {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    -webkit-transform: translateX(730px);
            transform: translateX(730px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(26px);
            transform: translateX(26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(13px);
            transform: translateX(13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(6.5px);
            transform: translateX(6.5px);
  }
  90% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
}

@keyframes BounceInRight {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    -webkit-transform: translateX(730px);
            transform: translateX(730px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(26px);
            transform: translateX(26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(13px);
            transform: translateX(13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(6.5px);
            transform: translateX(6.5px);
  }
  90% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
}

@-webkit-keyframes hover-one {
  0.00% {
    -webkit-transform: translateY(4px) translateX(4px);
            transform: translateY(4px) translateX(4px);
  }
  16.67% {
    -webkit-transform: translateY(-4px) translateX(-4px);
            transform: translateY(-4px) translateX(-4px);
  }
  33.33% {
    -webkit-transform: translateY(2px) translateX(4px);
            transform: translateY(2px) translateX(4px);
  }
  50.00% {
    -webkit-transform: translateY(4px) translateX(-4px);
            transform: translateY(4px) translateX(-4px);
  }
  66.67% {
    -webkit-transform: translateY(-1px) translateX(4px);
            transform: translateY(-1px) translateX(4px);
  }
  83.33% {
    -webkit-transform: translateY(-4px) translateX(-4px);
            transform: translateY(-4px) translateX(-4px);
  }
  100.00% {
    -webkit-transform: translateY(4px) translateX(4px);
            transform: translateY(4px) translateX(4px);
  }
}

@keyframes hover-one {
  0.00% {
    -webkit-transform: translateY(4px) translateX(4px);
            transform: translateY(4px) translateX(4px);
  }
  16.67% {
    -webkit-transform: translateY(-4px) translateX(-4px);
            transform: translateY(-4px) translateX(-4px);
  }
  33.33% {
    -webkit-transform: translateY(2px) translateX(4px);
            transform: translateY(2px) translateX(4px);
  }
  50.00% {
    -webkit-transform: translateY(4px) translateX(-4px);
            transform: translateY(4px) translateX(-4px);
  }
  66.67% {
    -webkit-transform: translateY(-1px) translateX(4px);
            transform: translateY(-1px) translateX(4px);
  }
  83.33% {
    -webkit-transform: translateY(-4px) translateX(-4px);
            transform: translateY(-4px) translateX(-4px);
  }
  100.00% {
    -webkit-transform: translateY(4px) translateX(4px);
            transform: translateY(4px) translateX(4px);
  }
}

@-webkit-keyframes hover-two {
  0.00% {
    -webkit-transform: translateY(-4px) translateX(-4px);
            transform: translateY(-4px) translateX(-4px);
  }
  16.67% {
    -webkit-transform: translateY(3px) translateX(-5px);
            transform: translateY(3px) translateX(-5px);
  }
  33.33% {
    -webkit-transform: translateY(4px) translateX(-4px);
            transform: translateY(4px) translateX(-4px);
  }
  50.00% {
    -webkit-transform: translateY(-4px) translateX(4px);
            transform: translateY(-4px) translateX(4px);
  }
  66.67% {
    -webkit-transform: translateY(4px) translateX(-4px);
            transform: translateY(4px) translateX(-4px);
  }
  83.33% {
    -webkit-transform: translateY(-1px) translateX(4px);
            transform: translateY(-1px) translateX(4px);
  }
  100.00% {
    -webkit-transform: translateY(-4px) translateX(-4px);
            transform: translateY(-4px) translateX(-4px);
  }
}

@keyframes hover-two {
  0.00% {
    -webkit-transform: translateY(-4px) translateX(-4px);
            transform: translateY(-4px) translateX(-4px);
  }
  16.67% {
    -webkit-transform: translateY(3px) translateX(-5px);
            transform: translateY(3px) translateX(-5px);
  }
  33.33% {
    -webkit-transform: translateY(4px) translateX(-4px);
            transform: translateY(4px) translateX(-4px);
  }
  50.00% {
    -webkit-transform: translateY(-4px) translateX(4px);
            transform: translateY(-4px) translateX(4px);
  }
  66.67% {
    -webkit-transform: translateY(4px) translateX(-4px);
            transform: translateY(4px) translateX(-4px);
  }
  83.33% {
    -webkit-transform: translateY(-1px) translateX(4px);
            transform: translateY(-1px) translateX(4px);
  }
  100.00% {
    -webkit-transform: translateY(-4px) translateX(-4px);
            transform: translateY(-4px) translateX(-4px);
  }
}

#timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #031625;
}

#timeline:hover .tl-item {
  width: 23.3330%;
}

.tl-item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.tl-item:before, .tl-item:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.tl-item:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(75%, black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
          transform: translate3d(0, 0, 0) translateY(50%);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}

.tl-item:hover {
  width: 30% !important;
}

.tl-item:hover:after {
  opacity: 0;
}

.tl-item:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
          transform: translate3d(0, 0, 0) translateY(0);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.75s ease 0.5s;
  transition: all 0.75s ease 0.5s;
}

.tl-item:hover .tl-bg {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.tl-content {
  -webkit-transform: translate3d(0, 0, 0) translateY(25px);
          transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  top: 60%;
  left: 17%;
  width: 350px;
  opacity: 0;
  font-size: 1rem;
}

.tl-content p {
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
  font-size: 1rem;
  font-weight: normal;
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.tl-year p {
  font-size: 1.3rem;
  line-height: 0;
}

.tl-bg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-image: url("../../images/dummy pic.jpg");
}

.container-section-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 100%;
}

.container-section-one .title-section-one {
  background: #090979;
  background: -webkit-gradient(linear, left top, right top, color-stop(21%, #090979), to(#0097ff));
  background: linear-gradient(90deg, #090979 21%, #0097ff 100%);
  padding: 7rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 7 / 3;
  z-index: 3;
  position: relative;
  -webkit-box-shadow: 13.1px 13.1px 5px rgba(0, 0, 0, 0.027), 12.6px 12.6px 10.3px rgba(0, 0, 0, 0.038), 11.1px 11.1px 16px rgba(0, 0, 0, 0.045), 10.2px 10.2px 22.1px rgba(0, 0, 0, 0.051), 10.7px 10.7px 28.8px rgba(0, 0, 0, 0.056), 13.3px 13.3px 36.1px rgba(0, 0, 0, 0.062), 19.3px 19.3px 44.1px rgba(0, 0, 0, 0.07), 30.9px 30.9px 53.2px rgba(0, 0, 0, 0.079), 53.3px 53.3px 63.9px rgba(0, 0, 0, 0.095), 143px 143px 80px rgba(0, 0, 0, 0.14);
          box-shadow: 13.1px 13.1px 5px rgba(0, 0, 0, 0.027), 12.6px 12.6px 10.3px rgba(0, 0, 0, 0.038), 11.1px 11.1px 16px rgba(0, 0, 0, 0.045), 10.2px 10.2px 22.1px rgba(0, 0, 0, 0.051), 10.7px 10.7px 28.8px rgba(0, 0, 0, 0.056), 13.3px 13.3px 36.1px rgba(0, 0, 0, 0.062), 19.3px 19.3px 44.1px rgba(0, 0, 0, 0.07), 30.9px 30.9px 53.2px rgba(0, 0, 0, 0.079), 53.3px 53.3px 63.9px rgba(0, 0, 0, 0.095), 143px 143px 80px rgba(0, 0, 0, 0.14);
}

.container-section-one .title-section-one .big-title-section-one {
  position: absolute;
  top: 35%;
  left: 25%;
  color: #e9d8a6;
}

.container-section-one .image-section-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-area: 1 / 2 / 9 / 11;
  padding: 7rem;
  background-color: darkslategrey;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-section-one .image-section-one .section-one-image {
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(10, 12, 15, 0.27);
          box-shadow: 2px 2px 4px 0px rgba(10, 12, 15, 0.27);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(10, 12, 15, 0.27);
          box-shadow: 0px 0px 30px 0px rgba(10, 12, 15, 0.27);
}

.container-section-one .image-section-one::before, .container-section-one .image-section-one::after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5EA3DB), color-stop(97%, #0078d4));
  background-image: linear-gradient(-180deg, #5EA3DB 0%, #0078d4 97%);
  content: '';
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transform: translateY(0px) translateX(0px);
          transform: translateY(0px) translateX(0px);
  width: 100%;
  z-index: -1;
}

.container-section-one .image-section-one::after {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e9d8a6), color-stop(97%, #e9cf81));
  background-image: linear-gradient(0deg, #e9d8a6 0%, #e9cf81 97%);
}

.container-section-one .image-section-one:hover::before {
  -webkit-animation: hover-two 3s .4s linear infinite;
          animation: hover-two 3s .4s linear infinite;
  -webkit-transform: translateY(-7px) translateX(-7px);
          transform: translateY(-7px) translateX(-7px);
}

.container-section-one .image-section-one:hover::after {
  animation: hover-one 3s .4s linear infinite reverse;
  -webkit-transform: translateY(7px) translateX(7px);
          transform: translateY(7px) translateX(7px);
}

.container-section-one .shape-section-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 11;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: 1 / 7 / 12 / 12;
  background: #e9d8a6;
  background: linear-gradient(74deg, #e9d8a6 55%, #ffdc76 100%);
  padding: 7rem;
  -webkit-clip-path: polygon(0 100%, 75% 45%, 75% 0, 100% 0, 100% 100%);
  clip-path: polygon(0 100%, 75% 45%, 75% 0, 100% 0, 100% 100%);
}

.container-section-one .text-one {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 9 / 2 / 12 / 5;
  position: relative;
  background: #090979;
  background: -webkit-gradient(linear, left top, right top, color-stop(21%, #090979), to(#0097ff));
  background: linear-gradient(90deg, #090979 21%, #0097ff 100%);
  padding: 7rem;
  margin: 1rem 1rem 1rem 0;
  -webkit-box-shadow: 13.1px 13.1px 5px rgba(0, 0, 0, 0.027), 12.6px 12.6px 10.3px rgba(0, 0, 0, 0.038), 11.1px 11.1px 16px rgba(0, 0, 0, 0.045), 10.2px 10.2px 22.1px rgba(0, 0, 0, 0.051), 10.7px 10.7px 28.8px rgba(0, 0, 0, 0.056), 13.3px 13.3px 36.1px rgba(0, 0, 0, 0.062), 19.3px 19.3px 44.1px rgba(0, 0, 0, 0.07), 30.9px 30.9px 53.2px rgba(0, 0, 0, 0.079), 53.3px 53.3px 63.9px rgba(0, 0, 0, 0.095), 143px 143px 80px rgba(0, 0, 0, 0.14);
          box-shadow: 13.1px 13.1px 5px rgba(0, 0, 0, 0.027), 12.6px 12.6px 10.3px rgba(0, 0, 0, 0.038), 11.1px 11.1px 16px rgba(0, 0, 0, 0.045), 10.2px 10.2px 22.1px rgba(0, 0, 0, 0.051), 10.7px 10.7px 28.8px rgba(0, 0, 0, 0.056), 13.3px 13.3px 36.1px rgba(0, 0, 0, 0.062), 19.3px 19.3px 44.1px rgba(0, 0, 0, 0.07), 30.9px 30.9px 53.2px rgba(0, 0, 0, 0.079), 53.3px 53.3px 63.9px rgba(0, 0, 0, 0.095), 143px 143px 80px rgba(0, 0, 0, 0.14);
}

.container-section-one .text-one .small-title-section-one {
  position: absolute;
  top: 0%;
  left: 35%;
  color: #e9d8a6;
  z-index: 999999999999999;
}

.container-section-one .text-one .text-section-one {
  position: absolute;
  top: 20%;
  left: 0%;
}

.container-section-one .text-two {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: 9 / 5 / 12 / 8;
  position: relative;
  background: #090979;
  background: -webkit-gradient(linear, left top, right top, color-stop(21%, #090979), to(#0097ff));
  background: linear-gradient(90deg, #090979 21%, #0097ff 100%);
  padding: 7rem;
  margin: 1rem 1rem 1rem 0;
  z-index: 3;
  -webkit-box-shadow: 13.1px 13.1px 5px rgba(0, 0, 0, 0.027), 12.6px 12.6px 10.3px rgba(0, 0, 0, 0.038), 11.1px 11.1px 16px rgba(0, 0, 0, 0.045), 10.2px 10.2px 22.1px rgba(0, 0, 0, 0.051), 10.7px 10.7px 28.8px rgba(0, 0, 0, 0.056), 13.3px 13.3px 36.1px rgba(0, 0, 0, 0.062), 19.3px 19.3px 44.1px rgba(0, 0, 0, 0.07), 30.9px 30.9px 53.2px rgba(0, 0, 0, 0.079), 53.3px 53.3px 63.9px rgba(0, 0, 0, 0.095), 143px 143px 80px rgba(0, 0, 0, 0.14);
          box-shadow: 13.1px 13.1px 5px rgba(0, 0, 0, 0.027), 12.6px 12.6px 10.3px rgba(0, 0, 0, 0.038), 11.1px 11.1px 16px rgba(0, 0, 0, 0.045), 10.2px 10.2px 22.1px rgba(0, 0, 0, 0.051), 10.7px 10.7px 28.8px rgba(0, 0, 0, 0.056), 13.3px 13.3px 36.1px rgba(0, 0, 0, 0.062), 19.3px 19.3px 44.1px rgba(0, 0, 0, 0.07), 30.9px 30.9px 53.2px rgba(0, 0, 0, 0.079), 53.3px 53.3px 63.9px rgba(0, 0, 0, 0.095), 143px 143px 80px rgba(0, 0, 0, 0.14);
}

.container-section-one .text-two .small-title-section-one {
  position: absolute;
  top: 0%;
  left: 35%;
  color: #e9d8a6;
  z-index: 999999999999999;
}

.container-section-one .text-two .text-section-one {
  position: absolute;
  top: 20%;
  left: 0%;
}

.container-section-one .text-three {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-area: 9 / 8 / 12 / 11;
  position: relative;
  background: #090979;
  background: -webkit-gradient(linear, left top, right top, color-stop(21%, #090979), to(#0097ff));
  background: linear-gradient(90deg, #090979 21%, #0097ff 100%);
  padding: 7rem;
  margin: 1rem 1rem 1rem 0;
  z-index: 3;
  -webkit-box-shadow: 13.1px 13.1px 5px rgba(0, 0, 0, 0.027), 12.6px 12.6px 10.3px rgba(0, 0, 0, 0.038), 11.1px 11.1px 16px rgba(0, 0, 0, 0.045), 10.2px 10.2px 22.1px rgba(0, 0, 0, 0.051), 10.7px 10.7px 28.8px rgba(0, 0, 0, 0.056), 13.3px 13.3px 36.1px rgba(0, 0, 0, 0.062), 19.3px 19.3px 44.1px rgba(0, 0, 0, 0.07), 30.9px 30.9px 53.2px rgba(0, 0, 0, 0.079), 53.3px 53.3px 63.9px rgba(0, 0, 0, 0.095), 143px 143px 80px rgba(0, 0, 0, 0.14);
          box-shadow: 13.1px 13.1px 5px rgba(0, 0, 0, 0.027), 12.6px 12.6px 10.3px rgba(0, 0, 0, 0.038), 11.1px 11.1px 16px rgba(0, 0, 0, 0.045), 10.2px 10.2px 22.1px rgba(0, 0, 0, 0.051), 10.7px 10.7px 28.8px rgba(0, 0, 0, 0.056), 13.3px 13.3px 36.1px rgba(0, 0, 0, 0.062), 19.3px 19.3px 44.1px rgba(0, 0, 0, 0.07), 30.9px 30.9px 53.2px rgba(0, 0, 0, 0.079), 53.3px 53.3px 63.9px rgba(0, 0, 0, 0.095), 143px 143px 80px rgba(0, 0, 0, 0.14);
}

.container-section-one .text-three .small-title-section-one {
  position: absolute;
  top: 0%;
  left: 35%;
  color: #e9d8a6;
  z-index: 999999999999999;
}

.container-section-one .text-three .text-section-one {
  position: absolute;
  top: 20%;
  left: 0%;
}

.container-section-two {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container-section-two .shape-text-area-section-two {
  -webkit-clip-path: polygon(89% 0, 100% 0%, 100% 75%, 100% 100%, 67% 100%, 47% 100%, 0 100%);
  clip-path: polygon(89% 0, 100% 0%, 100% 75%, 100% 100%, 67% 100%, 47% 100%, 0 100%);
  padding: 7rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 11;
  -ms-grid-column: 5;
  -ms-grid-column-span: 7;
  grid-area: 1 / 5 / 12 / 12;
  background: #e9d8a6;
  background: linear-gradient(74deg, #e9d8a6 55%, #ffdc76 100%);
  z-index: 2;
}

.container-section-two .weird-shape-section-two {
  -webkit-clip-path: polygon(0 0, 67% 0, 0 67%);
  clip-path: polygon(0 0, 67% 0, 0 67%);
  padding: 7rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 7 / 4;
  background: #ffdc76;
  background: -webkit-gradient(linear, left top, right top, from(#ffdc76), color-stop(55%, #e9d8a6));
  background: linear-gradient(90deg, #ffdc76 0%, #e9d8a6 55%);
  z-index: 2;
}

.container-section-two .image-area-section-two {
  padding: 12rem;
  background-color: white;
  -ms-grid-row: 2;
  -ms-grid-row-span: 7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-area: 2 / 2 / 9 / 9;
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  z-index: 1;
  -webkit-box-shadow: 13.1px 13.1px 5px rgba(0, 0, 0, 0.027), 12.6px 12.6px 10.3px rgba(0, 0, 0, 0.038), 11.1px 11.1px 16px rgba(0, 0, 0, 0.045), 10.2px 10.2px 22.1px rgba(0, 0, 0, 0.051), 10.7px 10.7px 28.8px rgba(0, 0, 0, 0.056), 13.3px 13.3px 36.1px rgba(0, 0, 0, 0.062), 19.3px 19.3px 44.1px rgba(0, 0, 0, 0.07), 30.9px 30.9px 53.2px rgba(0, 0, 0, 0.079), 53.3px 53.3px 63.9px rgba(0, 0, 0, 0.095), 143px 143px 80px rgba(0, 0, 0, 0.14);
          box-shadow: 13.1px 13.1px 5px rgba(0, 0, 0, 0.027), 12.6px 12.6px 10.3px rgba(0, 0, 0, 0.038), 11.1px 11.1px 16px rgba(0, 0, 0, 0.045), 10.2px 10.2px 22.1px rgba(0, 0, 0, 0.051), 10.7px 10.7px 28.8px rgba(0, 0, 0, 0.056), 13.3px 13.3px 36.1px rgba(0, 0, 0, 0.062), 19.3px 19.3px 44.1px rgba(0, 0, 0, 0.07), 30.9px 30.9px 53.2px rgba(0, 0, 0, 0.079), 53.3px 53.3px 63.9px rgba(0, 0, 0, 0.095), 143px 143px 80px rgba(0, 0, 0, 0.14);
}

.container-section-two .image-area-section-two .section-two-image {
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(10, 12, 15, 0.27);
          box-shadow: 2px 2px 4px 0px rgba(10, 12, 15, 0.27);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(10, 12, 15, 0.27);
          box-shadow: 0px 0px 30px 0px rgba(10, 12, 15, 0.27);
}

.container-section-two .image-area-section-two::before, .container-section-two .image-area-section-two::after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5EA3DB), color-stop(97%, #0078d4));
  background-image: linear-gradient(-180deg, #5EA3DB 0%, #0078d4 97%);
  content: '';
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transform: translateY(0px) translateX(0px);
          transform: translateY(0px) translateX(0px);
  width: 100%;
  z-index: -1;
}

.container-section-two .image-area-section-two::after {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e9d8a6), color-stop(97%, #e9cf81));
  background-image: linear-gradient(0deg, #e9d8a6 0%, #e9cf81 97%);
}

.container-section-two .image-area-section-two:hover::before {
  -webkit-animation: hover-two 3s .4s linear infinite;
          animation: hover-two 3s .4s linear infinite;
  -webkit-transform: translateY(-7px) translateX(-7px);
          transform: translateY(-7px) translateX(-7px);
}

.container-section-two .image-area-section-two:hover::after {
  animation: hover-one 3s .4s linear infinite reverse;
  -webkit-transform: translateY(7px) translateX(7px);
          transform: translateY(7px) translateX(7px);
}

.container-section-two .text-area-section-two {
  -ms-grid-row: 5;
  -ms-grid-row-span: 7;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-area: 5 / 9 / 12 / 12;
  z-index: 2;
  position: relative;
}

.container-section-two .text-area-section-two .title-text-area-section-two {
  position: absolute;
  top: -15%;
  left: 35%;
  color: black;
}

.container-section-two .text-area-section-two .text-text-area-section-two {
  position: absolute;
  top: 0%;
  right: 22%;
  line-height: 2rem;
}

.container-section-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.container-section-three .shape-section-three {
  -ms-grid-row: 1;
  -ms-grid-row-span: 11;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1 / 1 / 12 / 5;
  background: #e9d8a6;
  background: linear-gradient(117deg, #e9d8a6 80%, white 100%);
  position: relative;
}

.container-section-three .shape-section-three .title-section-three {
  position: absolute;
  top: 10%;
  left: 25%;
}

.container-section-three .shape-section-three .text-section-three {
  position: absolute;
  top: 30%;
  left: 2%;
  padding: 2rem;
  line-height: 2rem;
}

.container-section-three .image-area-section-three {
  background-color: whitesmoke;
  -ms-grid-row: 2;
  -ms-grid-row-span: 9;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 2 / 6 / 11 / 11;
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  position: relative;
}

.container-section-three .image-area-section-three .section-three-image {
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  left: 0%;
  top: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(10, 12, 15, 0.27);
          box-shadow: 2px 2px 4px 0px rgba(10, 12, 15, 0.27);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(10, 12, 15, 0.27);
          box-shadow: 0px 0px 30px 0px rgba(10, 12, 15, 0.27);
}

.container-section-three .image-area-section-three::before, .container-section-three .image-area-section-three::after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5EA3DB), color-stop(97%, #0078d4));
  background-image: linear-gradient(-180deg, #5EA3DB 0%, #0078d4 97%);
  content: '';
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transform: translateY(0px) translateX(0px);
          transform: translateY(0px) translateX(0px);
  width: 100%;
  z-index: -1;
}

.container-section-three .image-area-section-three::after {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e9d8a6), color-stop(97%, #e9cf81));
  background-image: linear-gradient(0deg, #e9d8a6 0%, #e9cf81 97%);
}

.container-section-three .image-area-section-three:hover::before {
  -webkit-animation: hover-two 3s .4s linear infinite;
          animation: hover-two 3s .4s linear infinite;
  -webkit-transform: translateY(-7px) translateX(-7px);
          transform: translateY(-7px) translateX(-7px);
}

.container-section-three .image-area-section-three:hover::after {
  animation: hover-one 3s .4s linear infinite reverse;
  -webkit-transform: translateY(7px) translateX(7px);
          transform: translateY(7px) translateX(7px);
}

.container-contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container-contact .weird-shape-contact-section {
  -ms-grid-row: 1;
  -ms-grid-row-span: 11;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: 1 / 1 / 12 / 9;
  padding: 7rem;
  background: #e9d8a6;
  background: linear-gradient(10deg, #e9d8a6 73%, white 90%);
  -webkit-clip-path: polygon(0% 0%, 50% 0, 100% 100%, 100% 100%, 75% 100%, 10% 100%, 0 100%);
  clip-path: polygon(0% 0%, 50% 0, 100% 100%, 100% 100%, 75% 100%, 10% 100%, 0 100%);
}

body[data-aos-duration='4000'] [data-aos],
[data-aos][data-aos][data-aos-duration='4000'] {
  -webkit-transition-duration: 4000ms;
          transition-duration: 4000ms;
}
/*# sourceMappingURL=style.css.map */